body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #555;
}

p {
    margin: 0;
    color: #777;
}

p.created-at {
    font-style: italic;
}

.createArticle{
    background-color: cadetblue;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}